html,body{
    /*height: 100%;*/
    max-width:1080px;
    margin:auto;
    /*background-image:url('/img/background.png:');*/
}

.leftMenuDescription {
	margin-top: 25px;
}

.lefMenuTitle{
	text-align: center;
}

.app {
	word-wrap: break-word;
	border: 5px groove;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding-bottom: 60px;
	padding:20px;
}

.navbar-right {
  padding-right:10px;
}

.my-body {
}

.my-app {
  background-color: white;
  border : 1px groove;
  border-radius: 2px;
  padding: 10px;
  margin:10px;
}

.app-img {
  height: 50px;
}

.icon {
	text-align: center;
	max-height: 32px;
	display: block;
	margin: auto;
}
