
body {
	margin:auto;
	/*width:768px;*/
}
.options {
	/*margin-top:30px;*/
	
}

.icon {
	width:32px;
	height: 32px;
	cursor: pointer;
}


.todoList {
	display:inline-block;
	float: left;
	border-style: outset;
		border-radius: 10px;

	padding: 5px;
	margin: 5px;
}

.todo {
	padding:10px;
	margin-bottom: 5px;
	border:1px gray groove;
	border-radius: 10px;
}

.todo input {
	margin-right:15px;
	border: none;
}

.undone {
	background-color: #FFFFA3

}
.undone input {
	background-color: #FFFFA3

}
.done {
	background-color:#CCCCB2;
}
.done input {
	background-color:#CCCCB2;
}

li {
	list-style-type: none;
}
