<div class="well">
	<h1>Where are you?</h1>
	<p>Hello, visitor, you're on dewliv-labs.ovh.</p>
	<p>Here will be hosted my personal projects (see the "Apps" menu on top) so you can see what I do.I did it all alone and am still learning, you'll see I'm not a good graphic designer, but I never pretended to be one ;)</p>
	<p>
		Please feel free to explore the site for the moment there are
		<ul>
			<li>My first node.js app, <a ui-sref="">node-chat</a>, a small chat app I'm gonna rebuild with AngularJS</li>
			<li>Here's my <a ui-sref="">second app</a> with node, and the first one using Strongloop for buiding an API and AngularJS for front app.</li>
		</ul>
	</p>
	<p>
		I want to thank several artists I've been listenning while doing this app :
		<ul>
			<li><a href="http://www.youtube.com/watch?v=dq6hsPhDAXc" title="Les Claypool and his Fancy Band - Fancy">Les Claypool</a> (here on live : Les Claypool and his Fancy Band - Fancy)</li>
			<li><a href="http://www.youtube.com/watch?v=bEd1KJnpsts" title=" Primus Live Outside Lands">Primus</a> (live :  Primus Live Outside Lands - 2008)</li>
			<li><a href="http://fuzzy-groovy-radio.tk/" title="Fuzzy and groovy radio">Fuzzy and Groovy radio </a>(a friend's 60's and 70's rock radio)</li>
		</ul>

	</p>

</div>