<div class="well my-body">
	<h1>Where are you?</h1>
	<p>Hello, visitor, you're on delwiv-labs.ovh.</p>
	<p>Here will be hosted my personal projects (see the "Apps" menu on top) so you can see what I do.I did it all alone and am still learning, you'll see I'm not a good graphic designer, but I never pretended to be one ;)</p>
	<p>Please feel free to explore the site for the moment there are</p>
		<div class="col-md-3 my-app">
			<img class="app-img" src="/img/node-js-logo.jpeg"/>
			<a ui-sref="app-node-chat">Node.js Chat</a>
		</div>
		<div class="col-md-3 my-app">
			<img class="app-img" src="/img/angular-logo.png"/>
			<a ui-sref="app-angular-todolist">AngularJS Todo List</a>
		</div>
		<div class="col-md-3 my-app">
			<img class="app-img" src="/img/jazz.png"/>
			<a target="blank" href="http://delwiv-labs.ovh:3045">BOHEME Jazz</a>
		</div>

	</div>
