<div class="list-group">
<h3 class="lefMenuTitle">{{menu.title}}</h3>
	<p class="leftMenuDescription">{{menu.description}}</p>

	<div class="menuEntry" ng-repeat="menuEntry in menu.entries">
	<!-- <a ui-sref=".{{menuEntry.path}}" class="list-group-item" ng-show="menuEntry.path"> -->
	<a href="{{menuEntry.url}}" class="list-group-item" ng-show="menuEntry.url">
		<!-- {{menuEntry.name}} -->
		<img class="icon" ng-src="{{menuEntry.img}}" alt="Image for {{menuEntry.name}}" ng-show="menuEntry.img">
	</a>
	</div>
</div>