

.writing {
    font-weight: bold; 
}

.currentUser {
    color: black;
    text-decoration: underline;

}

.otherUser {
    color: black;
}

#usersTable {

}

.users {
   display: inline-block;
   position: fixed;
   border: 2px groove;
   border-radius: 10px;
}

.users li {
    list-style: none;
}

#sendMessage { 
    /*background: #000;*/
    /*padding: 3px; */
    /*position: absolute; */
    bottom: 10;
    margin-bottom: 15px;
    margin-top: 30px;
    height: 40px;
}
#sendMessage input { 
    /*border: 0; */
    /*padding: 10px; */
    width: 85%; 
    margin: auto;
    height: 40px;
}
#sendMessage button { 
    width: 14%; 
    background: rgb(130, 224, 100); 
    border: none;
    height: 40px; 
    /*padding: 10px;*/
}

#tableMessages .userName {
    width:200px;
}

#tableMessages { 
    margin-top: 35px;
    overflow:auto;
    /*position:relative;*/
    /*display:block;*/
    list-style-type: none; 
    padding-bottom: 40px;
}
#tableMessages li { 
    padding: 5px 10px; 
}
/*#tableMessages li:nth-child(odd) { 
    background: #eee; 
}*/